:root {
  /* Colors // Primary*/

  --Orange-300: hsl(15, 100%, 70%);
  --Blue-300: hsl(195, 74%, 62%);
  --Pink-400: hsl(348, 100%, 68%);
  --Green-400: hsl(145, 58%, 55%);
  --Purple-700: hsl(264, 64%, 52%);
  --Purple-600: hsl(246, 80%, 60%);
  --Purple-500: hsl(235, 45%, 61%);
  --Yellow-300: hsl(43, 84%, 65%);

  /* Colors // Neutral */

  --Navy-950: hsl(226, 43%, 10%);
  --Navy-900: hsl(235, 46%, 20%);
  --Navy-800: hsl(235, 41%, 34%);
  --Navy-200: hsl(236, 100%, 87%);
  --white: hsl(0, 100%, 100%);
  --black: hsl(0, 0%, 0%);
  --grey: hsl(0, 0%, 85%);

  /* typography */

  --rubik-light-1: 300 3.5rem/4.125rem "Rubik", sans-serif;
  --rubik-light-2: 300 2.5rem/2.9375rem "Rubik", sans-serif;
  --rubik-light-3: 300 2rem/2.375rem "Rubik", sans-serif;
  --rubik-light-4: 300 1.5rem/1.75rem "Rubik", sans-serif;
  --rubik-regular-5: 400 1.125rem/1.3125rem "Rubik", sans-serif;
  --rubik-medium-5: 500 1.125rem/1.3125rem "Rubik", sans-serif;
  --rubik-regular-6: 400 0.9375rem/1.125rem "Rubik", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: aliceblue;
  /* border: 1px solid white; */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--Navy-950);
}

.main {
  width: 327px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* SECCION USER */

.cont-user {
  height: 203px;
  border-radius: 15px;
  background-color: var(--Navy-900);
}

.cont-perfil {
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* height: 178px; */
  height: auto;
}
.perfil {
  height: 133px;
  padding: 32px;
  background-color: var(--Purple-600);
  border-radius: 15px;
}
.user-info {
  display: flex;
  gap: 24px;
  width: 256px;
  height: 64px;
}
.user-info img {
  border-radius: 50%;
  border: 3px solid var(--white);
}
figcaption p {
  width: 171px;
}
h1 {
  font: var(--rubik-regular-6);
  color: var(--Navy-200);
}
.user {
  font: var(--rubik-light-4);
  color: var(--white);
  margin-block-start: 8px;
}
.time-selector {
  display: flex;
}
.time-selector p {
  width: 109px;
  text-align: center;
}
.time {
  font: var(--rubik-regular-5);
  color: var(--Purple-500);
}

/* SECCION ACTIVITY */

.cont-work,
.cont-play,
.cont-study,
.cont-exer,
.cont-social,
.cont-self {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 160px;
  border-radius: 15px;
  background-color: var(--Orange-300);
  justify-content: end;
  position: relative;
  overflow: hidden;
}
.cont-play {
  background-color: var(--Blue-300);
}
.cont-study {
  background-color: var(--Pink-400);
}
.cont-exer {
  background-color: var(--Green-400);
}
.cont-social {
  background-color: var(--Purple-700);
}
.cont-self {
  background-color: var(--Yellow-300);
}

.cont-work::after,
.cont-play::after,
.cont-study::after,
.cont-exer::after,
.cont-social::after,
.cont-self::after {
  content: "";
  position: absolute;
  background-image: url(images/icon-work.svg);
  background-size: cover;
  width: 78px;
  height: 78px;
  right: 18px;
  top: -10.91px;
}
.cont-play::after {
  background-image: url(images/icon-play.svg);
  width: 90px;
  height: 90px;
}
.cont-study::after {
  background-image: url(images/icon-study.svg);
}
.cont-exer::after {
  background-image: url(images/icon-exercise.svg);
  width: 79.65px;
  height: 53.48px;
}
.cont-social::after {
  background-image: url(images/icon-social.svg);
  width: 73.6px;
  height: 100px;
}
.cont-self::after {
  background-image: url(images/icon-self-care.svg);
  width: 72px;
  height: 66px;
}
.cont-stats {
  height: 122px;
  border-radius: 15px;
  padding: 24px;
  z-index: 1;
  background-color: var(--Navy-900);
}
.stats {
  height: 67px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.activity-header {
  height: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.activity {
  font: var(--rubik-medium-5);
  color: var(--white);
}
.hr-act {
  font: var(--rubik-light-3);
  color: var(--white);
}
.hr-prev {
  font: var(--rubik-regular-6);
  color: var(--Navy-200);
}
.actibity-stats {
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* DISPLAY TABLET */

@media (min-width: 760px) {
  .main {
    display: grid;
    grid-template-columns: repeat(3, 188px);
    width: 612px;
    width: clamp(612px, calc(13.5px + 78.75vw), 1116px);
    /* height: 677px; */
    height: clamp(530px, calc(851.563px - 22.969vw), 677px);
  }
  .cont-user {
    grid-column: 1 / 4;
    width: clamp(255px, calc(1035.938px - 55.781vw), 612px);
    height: clamp(203px, calc(-173.438px + 49.531vw), 520px);
  }
  .time-selector {
    justify-content: center;
    gap: 8px;
  }
  .cont-work,
  .cont-play,
  .cont-study,
  .cont-exer,
  .cont-social,
  .cont-self {
    width: clamp(188px, calc(108.438px + 10.469vw), 255px);
    height: clamp(213px, calc(176.188px + 4.844vw), 244px);
  }
  .cont-stats {
    width: clamp(188px, calc(108.438px + 10.469vw), 255px);
    height: clamp(180px, calc(157.438px + 2.969vw), 199px);
  }
  .stats {
    height: 129px;
    gap: 16px;
  }
  .actibity-stats {
    height: 92px;
    flex-direction: column;
    align-items: start;
    gap: 8px;
  }
  .hr-act {
    font: var(--rubik-light-1);
    color: var(--white);
  }
}

/* DISPLAY DESKTOP */

@media (min-width: 1400px) {
  .main {
    grid-template-columns: repeat(4, 255px);
    gap: 32px;
  }
  .cont-user {
    grid-row: 1 / span 2;
  }
  .cont-perfil {
    gap: 0;
  }
  .perfil {
    height: 354px;
  }
  .user-info {
    flex-direction: column;
    width: 138px;
    height: 230px;
    gap: 40px;
  }
  .user-info img {
    width: 78px;
  }
  .user {
    font: var(--rubik-light-2);
    margin-block-start: 0px;
  }
  .time-selector {
    flex-direction: column;
    gap: 19.5px;
    padding: 32px;
  }
  .time-selector p {
    text-align: start;
  }
  .cont-work {
    grid-column: 2;
    grid-row: 1;
  }
  .cont-play {
    grid-column: 3;
    grid-row: 1;
  }
  .cont-exer {
    grid-column: 2;
    grid-row: 2;
  }
  .cont-social {
    grid-column: 3;
    grid-row: 2;
  }
  .cont-self {
    grid-column: 4;
    grid-row: 2;
  }
}
