:root {
  /* Colors // Primary*/

  --Orange-300: #ff8b64;
  --Blue-300: #55c2e6;
  --Pink-400: #ff5e7d;
  --Green-400: #4bcf82;
  --Purple-700: #7335d2;
  --Purple-600: #5747ea;
  --Purple-500: #7078c9;
  --Yellow-300: #f1c75b;

  /* Colors // Neutral */

  --Navy-950: #0e1323;
  --Navy-900: #1c204b;
  --Navy-800: #33397a;
  --Navy-200: #bbc0ff;
  --white: #ffffff;
  --black: #000000;
  --grey: #d8d8d8;

  /* typography */

  --rubik-light-1: 300 3.5rem/4.125rem "Rubik", sans-serif;
  --rubik-light-2: 300 2.5rem/2.9375rem "Rubik", sans-serif;
  --rubik-light-3: 300 2rem/2.375rem "Rubik", sans-serif;
  --rubik-light-4: 300 1.5rem/1.75rem "Rubik", sans-serif;
  --rubik-regular-5: 400 1.125rem/1.3125rem "Rubik", sans-serif;
  --rubik-medium-5: 500 1.125rem/1.3125rem "Rubik", sans-serif;
  --rubik-regular-6: 400 0.9375rem/1.125rem "Rubik", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--Navy-950);
}

.main {
  width: 20.4375rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* SECCION USER */

.cont-user {
  height: 12.6875rem;
  border-radius: 0.9375rem;
  background-color: var(--Navy-900);
}

.cont-perfil {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: auto;
}
.perfil {
  height: 8.3125rem;
  padding: 2rem;
  background-color: var(--Purple-600);
  border-radius: 0.9375rem;
}
.user-info {
  display: flex;
  gap: 1.5rem;
  width: 16rem;
  height: 4rem;
}
.user-info img {
  border-radius: 50%;
  border: 0.1875rem solid var(--white);
}
figcaption p {
  width: 10f6875rem;
}
h1 {
  font: var(--rubik-regular-6);
  color: var(--Navy-200);
}
.user {
  font: var(--rubik-light-4);
  color: var(--white);
  margin-block-start: 0.5rem;
}
.timeframe-selector {
  display: flex;
  list-style-type: none;
}
.timeframe-selector li {
  width: 6.8125rem;
  text-align: center;
}
.time {
  font: var(--rubik-regular-5);
  color: var(--Purple-500);
}

/* --- CSS Adicional para el Estado Seleccionado (en LI) --- */
.timeframe-selector .time.active {
  color: #fff;
}

/* SECCION ACTIVITY */

.cont-work,
.cont-play,
.cont-study,
.cont-exer,
.cont-social,
.cont-self {
  display: flex;
  flex-direction: column;
  width: 20.4375rem;
  height: 10rem;
  border-radius: 0.9375rem;
  background-color: var(--Orange-300);
  justify-content: end;
  position: relative;
  overflow: hidden;
}
.cont-play {
  background-color: var(--Blue-300);
}
.cont-study {
  background-color: var(--Pink-400);
}
.cont-exer {
  background-color: var(--Green-400);
}
.cont-social {
  background-color: var(--Purple-700);
}
.cont-self {
  background-color: var(--Yellow-300);
}

.cont-work::after,
.cont-play::after,
.cont-study::after,
.cont-exer::after,
.cont-social::after,
.cont-self::after {
  content: "";
  position: absolute;
  background-image: url(images/icon-work.svg);
  background-size: cover;
  width: 4.875rem;
  height: 4.875rem;
  right: 1.125rem;
  top: -0.6819rem;
}
.cont-play::after {
  background-image: url(images/icon-play.svg);
  width: 5.625rem;
  height: 5.625rem;
}
.cont-study::after {
  background-image: url(images/icon-study.svg);
}
.cont-exer::after {
  background-image: url(images/icon-exercise.svg);
  width: 4.9781rem;
  height: 3.3425rem;
}
.cont-social::after {
  background-image: url(images/icon-social.svg);
  width: 4.6rem;
  height: 6.25rem;
}
.cont-self::after {
  background-image: url(images/icon-self-care.svg);
  width: 4.5rem;
  height: 4.125rem;
}
.cont-stats {
  height: 7.625rem;
  border-radius: 0.9375rem;
  padding: 1.5rem;
  z-index: 1;
  background-color: var(--Navy-900);
}
.stats {
  height: 4.1875rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;
}
.activity-header {
  height: 1.3125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.activity {
  font: var(--rubik-medium-5);
  color: var(--white);
}
.hr-act {
  font: var(--rubik-light-3);
  color: var(--white);
}
.hr-prev {
  font: var(--rubik-regular-6);
  color: var(--Navy-200);
}
.actibity-stats {
  height: 2.375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* DISPLAY TABLET */

@media (min-width: 47.5rem) {
  .main {
    display: grid;
    grid-template-columns: repeat(3, 11.75rem);
    width: clamp(38.25rem, 60vw, 69.75rem);
    height: clamp(33.125rem, 40vw, 42.3125rem);
  }
  .cont-user {
    grid-column: 1 / 4;
    width: clamp(15.9375rem, 50vw, 38.25rem);
    height: clamp(12.6875rem, 25vw, 32.5rem);
  }
  .timeframe-selector {
    justify-content: center;
    gap: 0.5rem;
  }
  .cont-work,
  .cont-play,
  .cont-study,
  .cont-exer,
  .cont-social,
  .cont-self {
    width: clamp(11.75rem, 14vw, 15.9375rem);
    height: clamp(13.3125rem, 15vw, 15.25rem);
  }
  .cont-stats {
    width: clamp(11.75rem, 14vw, 15.9375rem);
    height: clamp(11.25rem, 10vw, 12.4375rem);
  }
  .stats {
    height: 8.0625rem;
    gap: 1rem;
  }
  .actibity-stats {
    height: 5.75rem;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
  }
  .hr-act {
    font: var(--rubik-light-1);
    color: var(--white);
  }
}

/* DISPLAY DESKTOP */

@media (min-width: 87.5rem) {
  .main {
    grid-template-columns: repeat(4, 15.9375rem);
    gap: 2rem;
  }
  .cont-user {
    grid-row: 1 / span 2;
  }
  .cont-perfil {
    gap: 0;
  }
  .perfil {
    height: 22.125rem;
  }
  .user-info {
    flex-direction: column;
    width: 8.625rem;
    height: 14.375rem;
    gap: 2.5rem;
  }
  .user-info img {
    width: 4.875rem;
  }
  .user {
    font: var(--rubik-light-2);
    margin-block-start: 0;
  }
  .timeframe-selector {
    flex-direction: column;
    gap: 1.2188rem;
    padding: 2rem;
  }
  .timeframe-selector li {
    text-align: start;
  }
  .cont-work {
    grid-column: 2;
    grid-row: 1;
  }
  .cont-play {
    grid-column: 3;
    grid-row: 1;
  }
  .cont-exer {
    grid-column: 2;
    grid-row: 2;
  }
  .cont-social {
    grid-column: 3;
    grid-row: 2;
  }
  .cont-self {
    grid-column: 4;
    grid-row: 2;
  }
}

/* SECCION FOOTER */

.attribution-list {
  display: flex;
  margin-block-start: 0.625rem;
  font: var(--rubik-medium-5);
  font-size: clamp(0.69rem, 0.75vw + 0.5rem, 0.88rem);
  color: var(--white);
  list-style: none;
  gap: 20px;
}
.attribution-list li::before {
  margin-left: -40px;
}

.attribution-list a {
  color: var(--Yellow-300);
  text-decoration: none;
}
